.git
.venv
.env
applicant.toml
private/
applications_to_send/
applications_sent/
__pycache__/
*.pyc
.coverage
coverage.xml
htmlcov/
dist/
build/
.docs_build/
docs/_build/
docs/html/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
